<md-card ng-class="{ playing: $ctrl.vars.playing, disabled: $ctrl.audio.disabled }">
  <md-card-title ng-click="$ctrl.edit()">
    <md-card-title-text ng-hide="$ctrl.vars.editing">
      <span class="md-headline" ng-bind="$ctrl.audio.title"></span>
    </md-card-title-text>
    <md-input-container ng-show="$ctrl.vars.editing">
      <label>Title</label>
      <input name="title" type="text" ng-model="$ctrl.audio.title" required>
    </md-input-container>
  </md-card-title>

  <md-card-content ng-hide="$ctrl.vars.editing" ng-click="$ctrl.edit()">
    <span ng-hide="$ctrl.vars.editing">[{{$ctrl.audio.key}}]</span>
  </md-card-content>

  <md-card-content layout="column" ng-show="$ctrl.vars.editing">
    <md-input-container >
      <label>Hotkey</label>
      <input name="hotkey" type="text" ng-model="$ctrl.audio.key" required>
    </md-input-container>

    <md-input-container>
      <md-switch aria-label="Disabled audio" ng-model="$ctrl.audio.disabled">
        Disabled
      </md-switch>
    </md-input-container>
  </md-card-content>

  <md-card-actions ng-show="$ctrl.vars.editing" layout="row" layout-align="end center">
    <md-button class="md-warn" ng-click="$ctrl.delete()">DELETE</md-button>
    <md-button ng-click="$ctrl.cancel()">CANCEL</md-button>
    <md-button class="md-primary" ng-click="$ctrl.save()">SAVE</md-button>
  </md-card-actions>
</md-card>
